{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Все сгенерированные изображения</h2>

    <div class="row">
        {% for image in images %}
            <div class="col-4 mb-4">
                <div class="card shadow-sm border-0">
                    <!-- Отображаем изображения с правильным путем -->
                    <img src="{{ url_for('static', filename='uploads/' + image.image_path.split('/')[-1]) }}" alt="Generated Image" class="card-img-top" style="width: 100%; height: auto;">
                    <div class="card-body">
                        <p><strong>Описание:</strong> {{ image.prompt }}</p>
                        <p><strong>Дата создания:</strong> {{ image.timestamp }}</p>
                        <p><strong>Пользователь:</strong> {{ image.user.username }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
