{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Все сгенерированные изображения</h2>

    <form method="GET" action="{{ url_for('main.feed') }}" class="mb-4">
        <div class="input-group">
            <input type="text" name="username" class="form-control" placeholder="Поиск по пользователю" value="{{ request.args.get('username', '') }}">
            <button class="btn btn-primary" type="submit">Поиск</button>
            {% if request.args.get('username') %}
                <a href="{{ url_for('main.feed') }}" class="btn btn-outline-secondary">Сбросить</a>
            {% endif %}
        </div>
    </form>

    {% if images %}
        <div class="row">
            {% for image in images %}
                <div class="col-4 mb-4">
                    <div class="card shadow-sm border-0">
                        <!-- Отображаем изображения с правильным путем -->
                        <img src="{{ '/' + image.image_path }}" alt="Generated Image" class="card-img-top" style="width: 100%; height: auto;">
                        <div class="card-body">
                            <p><strong>Описание:</strong> {{ image.prompt }}</p>
                            <p><strong>Дата создания:</strong> {{ image.timestamp.strftime('%d.%m.%Y %H:%M') }}</p>
                            <p><strong>Пользователь:</strong> {{ image.user.username }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted mt-4">Пока нет ни одного изображения.</p>
    {% endif %}
</div>
{% endblock %}
